#myPaletteDiv {
  position: relative;
  ;
  width: 120px;
  height: 510px;
  border: solid 1px silver;
  background-color : gray;
  padding: 10px;
  top:0;
  left:0;
}

#myDiagramDiv {
  position: absolute;
  width: 70vmax;
  height: 510px;
  left: 140px;
  border: 1px solid black;
  background-color: gray;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

}
