#myDiagramDiv{
  position: absolute;
  width: 950px;
  height: 510px;
  border: 1px solid black;
  background-color:gray;
  left: 150px;
  margin-top: auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;

}
#myPaletteDiv {
  position: relative;;
  width:  120px;
  height: 510px;
  border: 1px solid black;
  background-color: #DCDCDC;
  margin-top: 20px;
  margin-bottom:auto;
  margin-left:10px;
  margin-right:auto;

}
